# Windows image file caches
Thumbs.db
ehthumbs.db

# Mac files
.DS_Store

# Python file
*.pyc
src/test framework/tdd/venv/**
.coverage

# Folder config file
Desktop.ini

# IDE
.idea/**
*.iml
*.xml

# Windows shortcuts
*.lnk
build/

/src/projects/test_framework/tdd/venv/
/src/projects/test_framework/tdd/.cache/
/src/projects/test_framework/tdd/.idea/
/src/projects/test_framework/bdd/.idea/
/src/projects/test_framework/tdd/.coverage
/src/projects/web_connexion/.idea/
/src/projects/test_framework/tdd/tests/.coverage
