# Windows image file caches
Thumbs.db
ehthumbs.db

# Mac files
.DS_Store

# Python file
*.pyc
**/venv/
**/.cache/
**/.idea/
**/.coverage
**/dist/
**/python.egg-info/
**/.pytest_cache/*
**/.ipynb_checkpoints/*
.coverage
**/build/

# Folder config file
Desktop.ini

# IDE
.idea/**
*.iml
*.xml

# Windows shortcuts
*.lnk
build/
