# Windows image file caches
Thumbs.db
ehthumbs.db

# Mac files
.DS_Store

# Python file
*.pyc
src/tdd/venv/**

# Folder config file
Desktop.ini

# IDE
.idea/**
*.iml
*.xml

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
